In [25]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split as split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import pickle
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [4]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# Label encode the gender
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [14]:
# One hot encode the geography
one_hot_encoder_geo = OneHotEncoder()
geo_encoder = one_hot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns = one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [16]:
# Concat the dataframe with original data
data = pd.concat([data.drop('Geography', axis = 1), geo_encoded_df], axis = 1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [17]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis = 1)
y = data['EstimatedSalary']

In [19]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)

with open('one_hot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder_geo, file)

In [36]:
## DIvide the dataset into dependent and independent features
X = data.drop('Exited', axis = 1)
y = data['Exited']

## SPlit the data in training and testing sets
X_train, X_test, y_train, y_test = split(X, y, test_size = 0.2, random_state = 42)

# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [37]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)

In [38]:
## ANN training for regression problem
## Build the model
model = Sequential([
    Dense(64, activation = 'relu', input_shape = (X_train.shape[1],)),
    Dense(32, activation = 'relu'),
    Dense(1, activation = 'linear')
])

model.summary()

e:\KRISH NAIK PROJECTS\1. ANN Project\My Work\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [39]:
# Compile the model
model.compile(loss = tf.keras.losses.MeanAbsoluteError(),
              optimizer = tf.keras.optimizers.Adam(),
              metrics = ['mae'])

In [40]:
# Setup the tensorboard
log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback = TensorBoard(log_dir = log_dir,
                                  histogram_freq = 1)

In [41]:
## Setup Early stopping
early_stopping = EarlyStopping(monitor = 'val_loss',
                               patience = 5,
                               restore_best_weights = True)

In [42]:
# Fit the model
history_model = model.fit(X_train, y_train , epochs = 100, validation_data = (X_test, y_test), callbacks = [tensorflow_callback, early_stopping])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 8ms/step - loss: 0.2895 - mae: 0.2895 - val_loss: 0.2146 - val_mae: 0.2146
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 0.2126 - mae: 0.2126 - val_loss: 0.1920 - val_mae: 0.1920
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1934 - mae: 0.1934 - val_loss: 0.1831 - val_mae: 0.1831
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1926 - mae: 0.1926 - val_loss: 0.1786 - val_mae: 0.1786
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 0.1773 - mae: 0.1773 - val_loss: 0.1785 - val_mae: 0.1785
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1779 - mae: 0.1779 - val_loss: 0.1731 - val_mae: 0.1731
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1772 - mae: 0.1772 - val_loss: 0.1693 - val_mae: 0.1693
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1680 - mae: 0.1680 - val_loss: 0.1667 - val_mae: 0.1667
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1676 - mae: 0.1676 - val_loss: 0.1663 - val_mae: 0.1663
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 0.1640 - mae: 0.1640 - val_loss: 0.1650 - val_mae: 0.1650
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1697 - mae: 0.1697 - val_loss: 0.1630 - val_mae: 0.1630
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 0.1621 - mae: 0.1621 - val_loss: 0.1690 - val_mae: 0.1690
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1594 - mae: 0.1594 - val_loss: 0.1624 - val_mae: 0.1624
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1615 - mae: 0.1615 - val_loss: 0.1603 - val_mae: 0.1603
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1582 - mae: 0.1582 - val_loss: 0.1606 - val_mae: 0.1606
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1588 - mae: 0.1588 - val_loss: 0.1563 - val_mae: 0.1563
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1467 - mae: 0.1467 - val_loss: 0.1584 - val_mae: 0.1584
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 0.1581 - mae: 0.1581 - val_loss: 0.1581 - val_mae: 0.1581
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 0.1587 - mae: 0.1587 - val_loss: 0.1557 - val_mae: 0.1557
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1534 - mae: 0.1534 - val_loss: 0.1557 - val_mae: 0.1557
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 0.1517 - mae: 0.1517 - val_loss: 0.1579 - val_mae: 0.1579
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1475 - mae: 0.1475 - val_loss: 0.1550 - val_mae: 0.1550
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1522 - mae: 0.1522 - val_loss: 0.1544 - val_mae: 0.1544
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 0.1543 - mae: 0.1543 - val_loss: 0.1550 - val_mae: 0.1550
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 0.1529 - mae: 0.1529 - val_loss: 0.1541 - val_mae: 0.1541
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1537 - mae: 0.1537 - val_loss: 0.1534 - val_mae: 0.1534
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1544 - mae: 0.1544 - val_loss: 0.1526 - val_mae: 0.1526
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1491 - mae: 0.1491 - val_loss: 0.1546 - val_mae: 0.1546
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1474 - mae: 0.1474 - val_loss: 0.1551 - val_mae: 0.1551
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 0.1498 - mae: 0.1498 - val_loss: 0.1519 - val_mae: 0.1519
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1531 - mae: 0.1531 - val_loss: 0.1530 - val_mae: 0.1530
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1458 - mae: 0.1458 - val_loss: 0.1515 - val_mae: 0.1515
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1472 - mae: 0.1472 - val_loss: 0.1504 - val_mae: 0.1504
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.1425 - mae: 0.1425 - val_loss: 0.1502 - val_mae: 0.1502
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1442 - mae: 0.1442 - val_loss: 0.1508 - val_mae: 0.1508
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1433 - mae: 0.1433 - val_loss: 0.1513 - val_mae: 0.1513
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1398 - mae: 0.1398 - val_loss: 0.1520 - val_mae: 0.1520
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1436 - mae: 0.1436 - val_loss: 0.1507 - val_mae: 0.1507
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.1341 - mae: 0.1341 - val_loss: 0.1500 - val_mae: 0.1500
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1454 - mae: 0.1454 - val_loss: 0.1512 - val_mae: 0.1512
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1397 - mae: 0.1397 - val_loss: 0.1505 - val_mae: 0.1505
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1373 - mae: 0.1373 - val_loss: 0.1497 - val_mae: 0.1497
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1309 - mae: 0.1309 - val_loss: 0.1492 - val_mae: 0.1492
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1375 - mae: 0.1375 - val_loss: 0.1493 - val_mae: 0.1493
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1355 - mae: 0.1355 - val_loss: 0.1485 - val_mae: 0.1485
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1435 - mae: 0.1435 - val_loss: 0.1490 - val_mae: 0.1490
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1383 - mae: 0.1383 - val_loss: 0.1491 - val_mae: 0.1491
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1368 - mae: 0.1368 - val_loss: 0.1484 - val_mae: 0.1484
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1407 - mae: 0.1407 - val_loss: 0.1473 - val_mae: 0.1473
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1375 - mae: 0.1375 - val_loss: 0.1479 - val_mae: 0.1479
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1353 - mae: 0.1353 - val_loss: 0.1464 - val_mae: 0.1464
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1317 - mae: 0.1317 - val_loss: 0.1483 - val_mae: 0.1483
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 0.1359 - mae: 0.1359 - val_loss: 0.1497 - val_mae: 0.1497
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1363 - mae: 0.1363 - val_loss: 0.1475 - val_mae: 0.1475
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1337 - mae: 0.1337 - val_loss: 0.1479 - val_mae: 0.1479
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 0.1325 - mae: 0.1325 - val_loss: 0.1481 - val_mae: 0.1481

In [43]:
%load_ext tensorboard
%tensorboard --logdir regressionlogs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 10860), started 0:03:35 ago. (Use '!kill 10860' to kill it.)

In [47]:
# Evaluate the model
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: ', {test_mae})

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.1505 - mae: 0.1505
Test MAE:  {0.1463596224784851}

In [48]:
model.save('model_reg.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.